@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800;900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
   font-family: 'Noto Sans', sans-serif;
}

header{
   background-color: #B4D0E7;
   margin-bottom: 150px;
}
.nav a{
   text-decoration: none;
   color: black;
}

li{
   list-style: none;
}

.fa-check{
   color: #0061FF;
}

.space-between{
   display: flex;
   justify-content: space-between;
}

.flex{
   display: flex;
   align-items: center;
}


/* --------------------------------------------------------- */
/* HEADER NAV */


.nav{
   padding: 25px 15px;
   background-color: white;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 1;
}

.nav-item li{
   margin: 0 20px;
}

.nav-item li:hover{
   text-decoration: underline;
}

.btn-small{
   border: 0;
   background-color: #0061FF;
   color: white;
   padding: 7px 15px;
   font-size: 1rem;
   border-radius: 5px;
}

.btn-large{
   border: 0;
   background-color: #0061FF;
   color: white;
   padding: 15px 15px;
   font-size: 1rem;
   border-radius: 5px;
}

.right-nav button{
   margin-left: 10px;
}

.img-container img{
   margin-right: 15px;
}


/* --------------------------------------------------------- */
/* JUMBOTRON */


.jumbotron-container{
   padding-top: 142px;
   width: 70%;
   margin: 0 auto;
}

.title{
   font-size: 5rem;
   font-weight: 900;
}

.img-text{
   width: 100%;
   padding-top: 50px;
   justify-content: space-between;
}

.jumbo-text{
   flex-basis: 60%;
   position: relative;
}

.jumbo-text p{
   margin-bottom: 40px;
}

.jumbo-text button{
   margin-bottom: 40px;
}

.jumbo-img img{
   width: 100%;
   flex-basis: 40%;
   margin-bottom: -90px;
}

.jumbo-arrow{
   position: absolute;
   bottom: 20px;
   font-size: 3.5rem;
}


/* --------------------------------------------------------- */
/* PLANS & PRICES */


.section{
   width: 60%;
   margin: 0 auto;
}

.title-plans{
   font-size: 2.5rem;
}

.plan{
   flex-basis: 30%;
   border: 1px solid lightgray;
   margin-bottom: 60px;
   border-radius: 10px;
}

.h-plan{
   width: 100%;
   border: 1px solid lightgray;
   display: flex;
   justify-content: space-between;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   margin-bottom: 100px;
}

.h-plan .price{
   margin-bottom: 50px;
}

.plan-type{
   text-align: center;
   border-bottom: 1px solid lightgray;
   padding: 10px 0;
}

.plan-type-h{
   border-top: 1px solid lightgray;
   border-left: 1px solid lightgray;
   border-right: 1px solid lightgray;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   padding: 10px 0;
   text-align: center;
}

.button-h{
   padding: 40px 40px;
}

.plan-ico{
   margin-right: 5px;
}

.description{
   padding: 40px 40px;
   flex-basis: 70%;
}

.description h3{
   font-size: 1.5rem;
   margin-bottom: 20px;
}

.price{
   margin-bottom: 15px;
}

.recurrence{
   margin-bottom: 40px;
}

.plan-info{
   margin-bottom: 15px;
}

.info-container{
   display: flex;
}

i{
   padding-top: 3px;
}

.description button{
   width: 100%;
   margin-top: 40px;
   margin-bottom: 30px;
}

.plan a{
   color: blue;
}

.buy-now{
   margin-bottom: 40px;
}

.line{
   border-top: 2px solid lightgray;
   width: 20%;
   margin-bottom: 45px;
}

.highlights{
   margin-bottom: 20px;
}

/* --------------------------------------------------------- */
/* CUSTOM RADIO BUTTON */


.billing{
   position: relative;
   cursor: pointer;
   padding: 0 25px;
}

input{
   position: absolute;
   opacity: 0;
   cursor: pointer;
}

.checkmark{
   position: absolute;
   top: 2px;
   left: 0;
   height: 15px;
   width: 15px;
   border: 2px solid #D0D0D3;
   border-radius: 50%;
}

.billing:hover input ~ .checkmark{
   border: 4px solid #0061FF;
   border-radius: 50%;
}

.billing input:checked ~ .checkmark{
   border: 4px solid #0061FF;
   border-radius: 50%;
}

.checkmark:after {
   content: "";
   position: absolute;
   display: none;
}

.billing input:checked ~ .checkmark:after {
   display: block;
}

.billing .checkmark:after {
   top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.select-billing{
   margin: 50px 0;
}

/* --------------------------------------------------------- */
/* PARTNER SECTION */

.partner-container{
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 10px;
   margin-bottom: 150px;
}

.partner-img img{
   width: 100%;
   border-radius: 10px;
}

.partner-txt{
   flex-basis: 70%;
   padding: 50px 50px;
}

.partner-txt h3{
   font-size: 1.5rem;
   margin-bottom: 20px;
}

.partner-container .btn-large{
   background-color: white;
   color: black;
   border: 1px solid lightgray;
   margin-top: 25px;
}

/* --------------------------------------------------------- */
/* DROPBOX BUSINESS */

.dropbox-business{
   font-size: 2.1rem;
   margin-bottom: 60px;
}

.business-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-bottom: 120px;
}

.card{
   width: calc(95%/3);
   padding: 20px;
   margin-bottom: 30px;
}

.card img{
   width: 100%;
}

.card div{
   font-size: 1.4rem;
   margin-bottom: 30px;
}


/* --------------------------------------------------------- */
/* TEAM USING DROPBOX */


.more{
   color: blue;
}

.logo-flex{
   display: flex;
   flex-wrap: wrap;
}

.team-using-db-container{
   margin-top: 170px;
}

.logos-container{
   width: calc(100%/3);
   height: calc(100vw/3);
}

.logos-container.middle{
   padding: 50px;
   background-color: #F5F5F5;
}

.logos-container .logo-image{
   width: 50%;
   height: calc(100vw/6);
}

.logo-image{
   background-repeat: no-repeat;
   background-position: center;
   background-size: 50%;
}

.img-1{
   background-image: url("../img/designit-w.svg");
   background-color: #A2D39B;
}

.img-2{
   background-image: url("../img/arizona_state_university.svg");
   background-color: #61082B;
}

.img-3{
   background-image: url("../img/university_of_florida.svg");
   background-color: #0093CE;
   fill: white;
}

.img-4{
   background-image: url("../img/topps.svg");
   background-color: #FF1C1C;
}

.img-5{
   background-image: url("../img/world_bicycle_relief.svg");
   background-color: #FF1C1C;
}

.img-6{
   background-image: url("../img/hearst_corp.svg");
   background-color: #B4D0E7;
}

.img-7{
   background-image: url("../img/lonely_planet.svg");
   background-color: #0D2481;
}

.img-8{
   background-image: url("../img/clear_channel.svg");
   background-color: #FFD830;
}

.middle-img{
   width: 50%;
   margin-bottom: 50px;
}

.logos-container p{
   margin-bottom: 50px;
}