*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
   font-family: sans-serif;
}

a{
   text-decoration: none;
   color: black;
}

li{
   list-style: none;
}

.space-between{
   display: flex;
   justify-content: space-between;
}

.flex{
   display: flex;
   align-items: center;
}

.nav{
   padding: 25px 5px;
}

.nav-item li{
   margin: 0 20px;
}

.btn{
   border: 0;
   background-color: #0061FF;
   color: white;
   padding: 7px 15px;
   font-size: 1rem;
   border-radius: 5px;
}

.right-nav button{
   margin-left: 10px;
}

.img-container img{
   margin-right: 15px;
}